//Cores
$cor-paleta-1: #475f5a; //FONTES
$cor-paleta-2: #2E8B57; //DESTAQUE
$cor-paleta-3: #e4e2cd; //HEADER E FOOTER
$cor-paleta-4: #F8F6F4; //BACKGROUND

//Fontes
$font-barlow: 'Barlow', sans-serif;

//Tamanho das Fontes
$tamanho-texto: 2rem;
