html,
body {
  font-family: "Barlow", sans-serif;
  background-color: #F8F6F4;
}

.header {
  background-color: #e4e2cd;
  height: 90px;
}
.header .header__imagem {
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
}
.header .menu a {
  font-size: 2rem;
  border-bottom: 3px double #2E8B57;
}
.header .menu .offcanvas-body {
  background-color: #F8F6F4;
}
.header .menu .menu__header {
  background-color: #e4e2cd;
  height: 90px;
}
.header .menu .menu__header .btn-close {
  position: absolute;
  right: 20px;
  font-size: 1.4rem;
  color: #475f5a;
  opacity: 0.3;
}
.header .navbar-toggler {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 1.2rem;
}

main {
  background-color: #F8F6F4;
  padding-top: 90px;
  text-align: center;
}
main .carrossel {
  padding: 0 30px 60px 30px;
}
main h1 {
  padding: 30px 30px;
  font-weight: 600;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
}
main h2 {
  font-size: 1.6rem;
  margin: 20px 0;
  font-family: "Barlow", sans-serif;
}
main h5 {
  color: #475f5a;
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow: 1px 1px 8px #fcfcfc;
  margin: 0;
}
main p {
  color: #475f5a;
  font-size: 1.1rem;
  margin: 0;
  font-family: "Barlow", sans-serif;
}
main .contato {
  background-color: #2E8B57;
  color: #F8F6F4;
  padding: 30px 0 20px 0;
}
main .contato span {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.3px;
  font-size: 2.4rem;
  font-family: "Barlow", sans-serif;
}
main .contato .contato__container__icones {
  display: flex;
  justify-content: center;
}
main .contato .contato__icones {
  width: 80px;
  margin-right: 5px;
}

.about {
  text-align: center;
  background-color: #F8F6F4;
  font-family: "Barlow", sans-serif;
}
.about .imagem__perfil {
  margin: 20px 0px;
}
.about p {
  color: #475f5a;
  background-color: #F8F6F4;
  font-size: 1.4rem;
  margin: 0 10% 10px 10%;
}
.about p:last-child {
  margin-bottom: 0;
}

.depoimentos {
  background-color: #F8F6F4;
  align-items: center;
  font-family: "Barlow", sans-serif;
  color: #475f5a;
  text-align: center;
  padding-bottom: 20px;
}
.depoimentos h2 {
  background-color: #e4e2cd;
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}
.depoimentos .carousel-inner {
  border: 2px solid #e4e2cd;
  border-radius: 25px;
  padding: 10px;
  margin: 20px auto;
  max-width: 80%;
  height: 550px;
}
.depoimentos .depoimentos__texto {
  font-size: 1.4rem;
}
.depoimentos .depoimentos__texto p {
  margin: 0;
}
.depoimentos .depoimentos__texto h3 {
  font-weight: bold;
  margin: 0;
}
.depoimentos .depoimentos__texto .depoimentos__texto__relacao {
  font-style: italic;
}
.depoimentos .depoimentos__botao {
  font-size: 1.4rem;
  background-color: #2E8B57;
  color: #F8F6F4;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}
.depoimentos .depoimentos__botao:hover {
  background-color: #F8F6F4;
  color: #2E8B57;
}

footer {
  background-color: #e4e2cd;
  color: #475f5a;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 1.3rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  margin: 0;
}
footer a {
  text-decoration: none;
  color: #2E8B57;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */