@import '../abstract/variables';

footer {
    background-color: $cor-paleta-3;
    color: $cor-paleta-1;
    text-align: center;
    font-family: $font-barlow;
    font-size: $tamanho-texto * 0.65;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        margin: 0;
    }

    a {
        text-decoration: none;
        color: $cor-paleta-2;
        font-weight: 600;
    }
}