@import '../abstract/variables';

main {
    background-color: $cor-paleta-4;
    padding-top: 90px;
    text-align: center;

    .carousel {
        padding: 5%;
        margin-bottom: 30px;

        .carousel__botao-inf {
            // background-color: $cor-paleta-1;
            display: none;
        }

        .carousel-item.active {
            z-index: 1;
        }

        .carousel-item {
            z-index: 0;
            width: 100%;
            transition: transform 1.2s ease;
            max-width: 100%;
        }

        .carrossel__borda {
            // width: 100%;
            // display: flex;
            // align-items: center;
            // justify-content: center;

            .card-wrapper {
                // width: 100%;
                // position: relative;
                padding-top: 100%;
                // margin-bottom: 50px;
                

                .card {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 20px groove $cor-paleta-3;
                    border-radius: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10% 20%;
                    box-sizing: border-box;
                    background-color: $cor-paleta-4;
                    .card-body {
                        padding-bottom: 10%;
                    }
                    
                }
            }
        }
    }
}

.main__frase-impacto {
    margin: 20px 10% 0;
    font-weight: 600;
    font-size: $tamanho-texto;
    font-family: $font-barlow;
    color: $cor-paleta-1;
}

h5 {
    color: $cor-paleta-1;
    font-weight: bold;
    font-size: $tamanho-texto * .7;
    text-shadow: 1px 1px 8px #fcfcfc;
    margin: 0;
}

p {
    color: $cor-paleta-1;
    font-size: $tamanho-texto * 0.55;
    margin: 0;
    font-family: $font-barlow;
}

