@import '../abstract/variables';

main {
    background-color: $cor-paleta-4;
    padding-top: 90px;
    text-align: center;

    .main__h1 {
        font-weight: bold;
        font-size: $tamanho-texto;
        font-family: $font-barlow;
        margin: 20px 10%;
        color: $cor-paleta-1;
        text-transform: uppercase;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
        line-height: $tamanho-texto * 1.2;
    }

    .swiper {
        max-width: 100%;

        .swiper-slide {
            max-width: 100%;
            max-height: 100%;


            .slides__box {
                color: $cor-paleta-1;
                border: 20px groove $cor-paleta-3;
                border-radius: 20%;
                margin: 20px 10%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                max-width: 600px;

                .slides__img {
                    width: 80%;
                    max-height: 300px;
                }


                .slides__texto {
                    .slides__texto-h2 {
                        font-size: $tamanho-texto * .7;
                        font-weight: 600;
                    }

                    .slides__texto-p {
                        font-size: $tamanho-texto * .6;
                        font-weight: 400;
                    }
                }
            }

        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: $cor-paleta-3;
    }
}

@media screen and (min-width: 768px) {
    main {

        .main__h1 {
            font-size: $tamanho-texto * 2;
            margin: 40px 20%;
            line-height: $tamanho-texto * 2;
        }

        .slides__box {
            color: $cor-paleta-1;
            border: 20px groove $cor-paleta-3;
            border-radius: 20%;
            margin: 10px 5% 100px;
            padding: 10px 10px;
            height: 1vh;
            min-height: 450px;

            .slides__texto {
                padding: 10px;

                .slides__texto-h2 {
                    font-size: $tamanho-texto * 1.0;
                }

                .slides__texto-p {
                    font-size: $tamanho-texto * .8;
                    margin-bottom: 25px;
                }
            }
        }
    }
}