@import '../abstract/variables';

main {
    background-color: $cor-paleta-4;
    padding-top: 90px;
    text-align: center;

    .carrossel {
        padding: 0 30px 60px 30px;
    }

    h1{
        padding: 30px 30px;
        font-weight: 600;
        font-size: $tamanho-texto;
        font-family: $font-barlow;
    }

    h2 {
        font-size: $tamanho-texto * 0.8;
        margin: 20px 0;
        font-family: $font-barlow;
    }

    h5 {
        color: $cor-paleta-1;
        font-weight: bold;
        font-size: $tamanho-texto * .7;
        text-shadow: 1px 1px 8px #fcfcfc;
        margin: 0;
    }

    p {
        color: $cor-paleta-1;
        font-size: $tamanho-texto * 0.55;
        margin: 0;
        font-family: $font-barlow;
    }

    .contato {
        background-color: $cor-paleta-2;
        color: $cor-paleta-4;
        padding: 30px 0 20px 0;

        span {
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1.3px;
            font-size: $tamanho-texto * 1.2;
            font-family: $font-barlow;
        }

        .contato__container__icones{
            display: flex;
            justify-content: center;
        }
        .contato__icones {
            width: 80px;
            margin-right: 5px;
        }
    }
}