@import '../abstract/variables';

.navbar {
    height: 90px;
    background-color: $cor-paleta-3;

    .header__imagem {
        height: 90px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .offcanvas-header {
        height: 90px;
        background-color: $cor-paleta-3;
    }

    .offcanvas-body {
        .navbar-nav {
            .nav-item {

                .nav-link {
                    font-family: $font-barlow;
                    font-size: $tamanho-texto;
                    color: $cor-paleta-1;
                    font-weight: 400;
                }
            }
        }
    }

}



.navbar-toggler {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: $tamanho-texto * 0.6;
}